.board {
    width: 300px;
    padding: 0% calc((100% - 300px)/2);
    height: 300px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.item {
    background: none;
    border: solid 2px blue;
    border-radius: 5px;
    margin: 5px;
    color: blue;
}